<a href="https://colab.research.google.com/github/LeeYM9901/MachineLearning4AI/blob/main/week6/tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
cd "/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04"

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

In [ ]:
import numpy as np
import pandas as pd

fb = pd.read_csv('data/fb_2018.csv', index_col='date', parse_dates=True).assign(
    trading_volume=lambda x: pd.cut(x.volume, bins=3, labels=['low', 'med', 'high'])
)
fb.head()

              open    high       low   close    volume trading_volume
date
2018-01-02  177.68  181.58  177.5500  181.42  18151903            low
2018-01-03  181.88  184.78  181.3300  184.67  16886563            low
2018-01-04  184.90  186.21  184.0996  184.33  13880896            low
2018-01-05  185.59  186.90  184.9300  186.85  13574535            low
2018-01-08  187.20  188.90  186.3300  188.28  17994726            low

In [ ]:
weather = pd.read_csv('data/weather_by_station.csv', index_col='date', parse_dates=True)
weather.head()

           datatype            station  value                    station_name
date
2018-01-01     PRCP  GHCND:US1CTFR0039    0.0           STAMFORD 4.2 S, CT US
2018-01-01     PRCP  GHCND:US1NJBG0015    0.0  NORTH ARLINGTON 0.7 WNW, NJ US
2018-01-01     SNOW  GHCND:US1NJBG0015    0.0  NORTH ARLINGTON 0.7 WNW, NJ US
2018-01-01     PRCP  GHCND:US1NJBG0017    0.0        GLEN ROCK 0.7 SSE, NJ US
2018-01-01     SNOW  GHCND:US1NJBG0017    0.0        GLEN ROCK 0.7 SSE, NJ US

In [ ]:
dp = weather.query('datatype == "PRCP"').groupby(level=0).sum()
dp

             value
date
2018-01-01     0.0
2018-01-02     0.0
2018-01-03     0.0
2018-01-04   275.3
2018-01-05   689.0
...            ...
2018-12-27     0.0
2018-12-28   826.5
2018-12-29  1417.8
2018-12-30     4.7
2018-12-31   301.4

[365 rows x 1 columns]

In [ ]:
dp.groupby(pd.Grouper(freq="Q")).sum()

              value
date
2018-03-31  27669.5
2018-06-30  27086.3
2018-09-30  44436.5
2018-12-31  38571.3

In [ ]:
dp.assign(
    quarterly_total_precipitation = lambda x: \
      x.groupby(pd.Grouper(freq="Q")).transform(np.sum),
    num_of_days_in_month = lambda x: \
      x.groupby(pd.Grouper(freq="M")).value.transform('count')
)

             value  quarterly_total_precipitation  num_of_days_in_month
date
2018-01-01     0.0                        27669.5                    31
2018-01-02     0.0                        27669.5                    31
2018-01-03     0.0                        27669.5                    31
2018-01-04   275.3                        27669.5                    31
2018-01-05   689.0                        27669.5                    31
...            ...                            ...                   ...
2018-12-27     0.0                        38571.3                    31
2018-12-28   826.5                        38571.3                    31
2018-12-29  1417.8                        38571.3                    31
2018-12-30     4.7                        38571.3                    31
2018-12-31   301.4                        38571.3                    31

[365 rows x 3 columns]

In [ ]:
fb.pivot_table(
    index="trading_volume", columns=fb.index.month, values="close", aggfunc="count")

date            1   2   3   4   5   6   7   8   9   10  11  12
trading_volume
low             20  19  15  20  22  21  18  23  19  23  21  19
med              1   0   4   1   0   0   2   0   0   0   0   0
high             0   0   2   0   0   0   1   0   0   0   0   0